@model List<Shsict.InternalWeb.Models.YardDensity>

@{
    ViewBag.Title = "堆场利用率";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
@section Header{
    <script type="text/javascript">
        $(function () {
            $('input:jqmData(role="datebox")').mobiscroll(opt);
            $("#SearchBox").change(function () {
                window.location.href = "/YardDensity/Index/" + $("#SearchBox").val();
            });

            $("ul.ui-listview").find("li div.colorbg").each(function () {
                $(this).css("width", $(this).prev("div.textcontainer").find("p.ui-li-aside").text());
            });
            $(".refresh").click(function () {

                location.reload();
            });
        });
    </script>
    <a id="but_back" data-role="button" data-inline="true" data-rel="external" target="_top"
        data-transition="slidedown" href="/Portal"
        class="ui-btn-left back" data-iconpos="notext" data-mini="true">Back </a>
    <a class="refresh"></a>
    <div class="ui-body ui-body-c" style="padding: 0 10px; margin-bottom: -1px;">
        <fieldset data-type="horizontal" data-mini="true">
            @Html.TextBoxFor(a => a[0].MyDate, new { id = "SearchBox", data_role = "datebox" })
        </fieldset>
    </div>
}

  <div class="ui-body ui-body-d clearfix zyl-tj">
      <h4 class="fl">总箱位:</h4><h1 class="fr">@Html.DisplayFor(a => a[0].YD_YARD_SLOT_TOTAL)</h1>
    </div>


    <ul data-role="listview" class=" zyl"> 
         @{int i = 1;   }  
         @foreach (Shsict.InternalWeb.Models.YardDensity item in Model)
         {
           i++;
           i=i%4;
          string Myclass = "color" + i;
      <li>
        <div class="textcontainer">
          <h3>@item.YD_CNTR_STATUS </h3>
          <p>在场箱量：@item.YD_SAC_SUM</p>
          <p> 适用箱位：@item.YD_YARD_SLOT_SUM</p>
            <p>箱密度：@item.MyYD_DES</p>
          <p class="ui-li-aside">@item.MyYD_PCT</p>
        </div>
        <div class="colorbg @Myclass clearfix"></div>
      </li>
         }
    </ul>
