<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 外部应用刷新频率(整数) 单位：分钟-->
    <add key="CacheRefresh" value="6"/>
    <!-- 版本号 -->
    <add key="Version" value="V1.0.2"/>
    <!-- phone 更新 url-->
    <add key="UpdateUrl" value="www.baidu.com"/>
    <!-- 苹果 更新 url-->
    <add key="iphoneUpdateUrl" value="www.baidu.com"/>
  </appSettings>
  <connectionStrings>
    <!-- SqlServer-->
    <add connectionString="server=10.10.4.133;database=shsict;user id=sa;pwd=sa" name="Shsict.MsSql.ConnectionString"/>
    <!-- Oracle VIEW -->
    <add connectionString="User ID=sdcwp;password=sdcwp;data source=SDAPP;Pooling=true;Min Pool Size=20;" name="Shsict.Oracle.View.ConnectionString"/>
    <!-- Oracle Table -->
    <add connectionString="User ID=sdcwp;password=sdcwp;data source=SDAPP;Pooling=true;Min Pool Size=20;" name="Shsict.Oracle.Table.ConnectionString"/>
    </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Windows"/>
    <pages theme="Shsict"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>